body {
     text-align: center;
 background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaEsixT1qijC9GarBWG1e3CdYCdLdavnpGUQWkpVqpaQHZPfEY);
}
p{
font-family: 'Sacramento', cursive;
}
.first{
   width:500px;
}
